__pycache__/
.idea/

downloaded/single/**
!downloaded/single/*.py

downloaded/multiple/**
!downloaded/multiple/*.py

downloaded/fix/**
!downloaded/fix/*.py

downloaded/pdf/**
!downloaded/pdf/*.py

downloaded/pdf/*.pdf
downloaded/pdf/%%%OneShots%%%/**/*.png
venv/

chromedriver.exe
geckodriver.exe
geckodriver.log
cookies.pickle

# Rewrite additions
.env
tmp/
logs/
downloaded/
backup/
tests/__pycache__/
